:host {
	display: flex;
	justify-content: center;

	nav ul li {
		margin-right: 30px;
		text-transform: uppercase;
		a {
			background-color: #B8E6E5 !important;
		}
	}
    nav ul li a, nav ul li a:hover{
		background-color: #FAF6F6;
		color: black;
	}
	@media (max-width: 425px) {
		nav ul li {
			margin-right: -16px;
		}
	}
	@media (min-width:425px) and (max-width: 600px) {
		nav ul li {
			margin-right: 0px;
		}
	}
}