:host {
    background: #B8E6E5!important;
    box-shadow: 1px 5px 9px -4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 5px 9px -4px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 5px 9px -4px rgba(0,0,0,0.05);
    .header__top-left {
        margin-left: 10.5%;
    }
    .header__hamburger {
        @include button($background-color: #B8E6E5);
        img {
            filter: invert(0%) sepia(0%) saturate(0%) brightness(100%) contrast(0%);
        }
	}
    @media (min-width: 1200px) {
        .header__top {
            justify-content: space-between;
            margin-left: 41%;
            width: 60%;
        }
    }
    @media (max-width: 1200px) {
        .header__top {
            justify-content: space-between;
            margin-left: 0;
            width: 100%;
        }
        .header__top-left {
            width: 50%;
            justify-content: space-between;
            margin-left: 0 !important;
        }
    }
}